* {
	color: white;
}
header {
	padding : 2px 10px 5px;
	text-align: center;
	font-size: 25px;
}
body {
	background-color: #222222;
}
.bg
{
	background-color: rgba(100, 0, 255,0.7);
	border-style: solid;
	border-radius: 10px;
	border-color: rgb(0,200,255);
	padding: 2px 15px;
	margin: 20px;
}
.bg p {
	font-size: 20px;
}
ul
{
	list-style: none;
}
ol
{
	list-style: lower-alpha;
}
li hover {
	cursor: pointer;
}