* {
	color: white;
}
header {
	text-align: center;
	font-size: 20px;
}
body {
	background-color: #222222;
}
.bg
{
	background-color: rgba(106, 0, 255,0.7);
	border-radius: 10px;
	padding: 2px 5px;
	margin: 20px;
}
.bg p {
	font-size: 20px;
}
ul
{
	list-style: none;
}
ol
{
	list-style: lower-alpha;
}